@each $name_day, $day in $week_days {
  .calendar-#{$name_day} div:first-child {
    margin-left: $divSizes*$day+$divMargins+$day;
  }
}

@for $i from 1 through 31 {
  .calendar :nth-child(#{$i})::before {
    content: "#{$i}";
    display: inline-block;
    margin: ($divSizes/2)-($fontSize/2);
    font-size: $fontSize;
    font-family: Arial, sans-serif;
  }
}

@each $day in $month_last_day {
  .calendar-#{$day} {
    div:nth-child(1n + #{$day+1}) {
      display: none;
    }
  }
}
