@import "variables";
@import "cycles";

.calendar {
  width: 710px;
  display: flex;
  flex-wrap: wrap;
  margin: 100px auto;

  div {
    text-align: center;
    width: $divSizes;
    height: $divSizes;
    box-sizing: border-box;
    margin-right: $divMargins;
    margin-bottom: $divMargins;
    background-color: #eee;
    border: 1px solid #000;
    transition: background-color 0.7s, transform 0.6s;

    &:hover {
      cursor: pointer;
      background-color: pink;
      transform: translateY(-20px);
    }
  }
}
